<!doctype HTML>
    <html>
        <head>
            <title>
                ALpha Blog
            </title>
        </head>
        <body>
            <header><div class="container" >
                <h1>About Page of Alpha Blog</h1>
                <%= link_to 'Home',root_path %>
            </div>
            </header>
            
            <footer>
            </footer>
            
            
        </body>
    </html>