<!doctype HTML>
    <html>
        <head>
            <title>
                ALpha Blog
            </title>
        </head>
               <h1>About Page of Alpha Blog</h1>
                <%= link_to 'Home',root_path %>
         </body>
    </html>