<!doctype HTML>
    <html>
        <head>
            <title>
                ALpha Blog
            </title>
        </head>
        <body>
            <header><div class="container", text-align:'center'>
                <h1>Welcome to Alpha Blog</h1>
                <%= link_to 'About',about_path %>
                <%= link_to "Alpha Blog", articles_path %>
            </div>
            </header>
            
            <footer>
            </footer>
            
            
        </body>
    </html>